.area-candidates-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

.job-candidates-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
