.register-candidate-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.business-woman img {
  width: 350px;
  transform: scaleX(-1);
}

.area-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 475px;
  padding-top: 20px;
}
