.button {
  color: white;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background: #229e75;
  width: 225px;
  height: 5ch;
  border-radius: 10px;
}

.button-cancel {
  background: grey;
}

.button:active {
  background: #649b89;
}
