.area-link-candidate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.area-button-link{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button-link {
  padding-bottom: 100px;
}
