.text-icon-button {
  background-color: #E7EAEE;
  box-shadow: 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 8px;
}

.text-icon-button:hover {
  background-color: #10B981;
  cursor: pointer;
}

.text-icon-button .icon svg {
  color: #191D23;
}

.trailing {
  width: 100%;
  justify-content: flex-end;
}
