.auth-area {
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.area-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: white;

  width: 350px;
  height: 100%;
  padding: 50px 25px;

  border-radius: 1em;
  box-shadow: 0 0.200em 1.500em rgba(0, 0, 0, 0.25);
}
