html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  user-select: none;

  background-color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Separadores */
.vertical-separator {
  height: 450px;
  border-right: 1px solid rgb(211, 209, 209);
}

.horizontal-separator {
  width: 100%;
  border-bottom: 1px solid rgb(211, 209, 209);
}

/* Principal (pagina e conteudo da pagina) */
.page {
  margin-left: 295px;
}

.content {
  padding: 15px;
}

/* Flex Directions */
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

/* Align - Main Axis */
.center {
  justify-content: center;
}

.btw {
  justify-content: space-between;
}

/* Align - Cross Axis */
.c-center{
  align-items: center;
}

/* Gap */
.gap {
  gap: 10px;
}

/* width - 800px */
.w800 {
  width: 800px;
}

/* width - 1200px */
.w1200 {
  width: 1200px;
}

/* Icones */
.icon {
  display: flex;
  align-items: center;
}

.icon svg {
  width: 22px;
  height: 22px;
}
