.step-progress{
  width: 100%;
}

.step-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  gap: 30px;
}

/* Area Button */
._3uApM {
  justify-content: space-evenly;
}

/* Button Next */
._hsN1w {
  background-color: #229e75;
  border: none;
}

._hsN1w:hover {
  background-color: #1b7e5d;
  border: none;
}
