* {
  margin: 0;
  padding: 0;
}

.page {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #229e75;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-weight: 700px;
  font-size: 64px;
  padding-top: 50px;
}


#login {
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

#login .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: white;

  width: 20em;
  height: 100%;
  padding: 50px 30px;
  position: relative;

  border-radius: 1em;
  box-shadow: 0 0.200em 1.500em rgba(0, 0, 0, 0.25);
}

.forgot-password {
  padding-bottom: 20px;
}

.forgot-password a {
  text-align: start;
  text-decoration: none;
  color: #10B981;
}

.forgot-password a:active {
  color: #649b89;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.title-alt-login {
  padding-top: 20px;
}

.alt-login div {
  width: 40%;
  height: 50px;

  background-color: #229e75;

  border-radius: 0.25em;
  cursor: pointer;
}

.alt-login div:active {
  background: #649b89;
}

.alt-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;

  width: 110%;
  font-size: 50px;
  padding-top: 20px;
}

.google {
  display: flex;
  justify-content: center;
}

.facebook {
  display: flex;
  justify-content: center;
}
