.forgot-password {
  padding-bottom: 20px;
}

.forgot-password a {
  text-align: start;
  text-decoration: none;
  color: #10B981;
}

.forgot-password a:active {
  color: #649b89;
}

.forgot-password a:hover {
  text-decoration: underline;
}
