.sidebar {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 24px;
  gap: 15px;
}

.sidebar-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #64748B;
  margin: 0;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-menu-item {
  background-color: #E7EAEE;
  box-shadow: 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
}

.sidebar-menu-item:hover {
  background-color: #10B981;
  cursor: pointer;
}

.sidebar-menu-item-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #191D23;
}

.sidebar-menu-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
}

.sidebar-menu-item-icon svg {
  width: 22px;
  height: 22px;
  color: #191D23;
}

.trailing {
  width: 100%;
  justify-content: flex-end;
}

.dropdown {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.dropdown #separator {
  height: 60px;
  padding-left: 18px;
  border-right: 1px solid rgb(211, 209, 209);
}

.dropdown-items {
  display: flex;
  flex-direction: column;
  padding-left: 6px;
  width: 100%;
}

.dropdown-item {
  padding: 5px 0 5px 10px;
  border-radius: 10px;
}

.dropdown-item-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #191D23;
}

.dropdown-item:hover {
  background-color: #10B981;
}

.profile {
  display: flex;
  flex-direction: row;
}

.profile img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.profile-info {
  padding-left: 10px;
}

.profile-info h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #191D23;
}

.profile-info p {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #A0ABBB;
}
