.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #fff;
  width: fit-content;
  height: 100%;
  padding: 24px;
  gap: 15px;
}

.sidebar-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #64748B;
  margin: 0;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.dropdown #separator {
  height: 60px;
  padding-left: 18px;
  border-right: 1px solid rgb(211, 209, 209);
}

.dropdown-items {
  display: flex;
  flex-direction: column;
  padding-left: 6px;
  width: 100%;
  gap: 5px;
}

.dropdown-item {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #191D23;
  padding: 5px 0 5px 10px;
  border-radius: 10px;
}

.dropdown-item:hover {
  background-color: #10B981;
}

.sidebar-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-section-profile {
  justify-content: flex-end;
  margin-bottom: 40px;
  height: 100%;
}

.profile {
  display: flex;
  flex-direction: row;
}

.profile img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.profile-info {
  padding-left: 10px;
}

.profile-info h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #191D23;
}

.profile-info p {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #A0ABBB;
}
