.area-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  box-shadow: 0 0.200em 1.500em rgba(0, 0, 0, 0.25);
  width: 520px;
}

.line-volume-slider {
  display: flex;
  flex-direction: row;
  width: 500px;
}

.with-labels {
  margin: 10px 15px 25px;
}

.slider {
  flex: 2;
  display: inline;
  flex-direction: row;
}

.description-box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Ajustes internos no slider */
.rangeslider-horizontal .rangeslider__fill {
  background-color: #e6e6e6;
}

.rangeslider-horizontal .rangeslider__handle {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.rangeslider .rangeslider__handle {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  box-shadow: none;
}

.rangeslider-horizontal .rangeslider__handle:after {
  content: ' ';
  position: absolute;
  width: 22px;
  height: 22px;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  background-color: #10B981;
  box-shadow: 0 1px 3px rgb(0 0 0 / 40%) inset, 0 -1px 3px rgb(0 0 0 / 40%) inset;
}

/* Slider sobrescrito (Candidate Slider) */
.candidate-slider .rangeslider{
  position: relative;
  height: 0;
  left: 0;
  right: 0;
  bottom: 26px;
}

.candidate-slider .rangeslider-horizontal .rangeslider__handle:after {
  background-color: #991B1B;
}
