.area-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  box-shadow: 0 0.200em 1.500em rgba(0, 0, 0, 0.25);
}

.line-volume-slider {
  display: flex;
  flex-direction: row;
  width: 500px;
}

.with-labels {
  margin: 10px 15px 25px;
}

.slider {
  flex: 2;
  display: inline;
  flex-direction: row;
}

.description-box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
